doctype
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title resume - indooorsman
    style.
      body {
        padding: 50px;
      }

      li {
        line-height: 1.5;
      }

      li i {
        margin-left: 10px;
        font-size: smaller;
      }

      h1 sub {
        margin-left: 10px;
        font-size: small;
      }

  body
    != yield