- var posts = [];
- for (var k in public.posts._data) {var p = public.posts._data[k];p.key=k;posts.push(p)}
- posts.sort(function(a,b){return b.id-a.id});
h1 indooorsman
ul
  each post in posts
    li
      small.post-date= post.date
      a(href='/posts/#{post.key}')= post.title